{% extends "admin/base_site.html" %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/css/admin.css" />{% endblock %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="/static/js/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/d3.v2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/member_report.js"></script>
{% endblock %}
{% block pretitle %}{% endblock %}
{% block content %}
<div class="columns">
	<div class="column">
	<h2>Report for today</h2>
	<dl>
		<dt>Active Members</dt>
		<dd>{{ active_members }}</dd>
		<dt>Total in System</dt>
		<dd>{{ total_in_system }}</dd>
	</dl>
	</div>
	<div class="column">
	<h2>Report for this month</h2>
	<dl>
		<dt>Total Membership Dues</dt>
		<dd>{{ total_month_dues }}</dd>
		<dt>Total Donations</dt>
		<dd>{{ total_month_donations }}</dd>
	</dl>
	</div>
</div>

<h2>Membership Data</h2>
<div id="membership_chart"><!--IE SUX--></div>
{% endblock %}
