{% extends "admin/base_site.html" %}
{% block pretitle %}Woah{% endblock %}
{% block content %}
<h2>Report for today</h2>
<dl>
	<dt>Active Members</dt>
	<dd>{{ active_members }}</dd>
	<dt>Total in System</dt>
	<dd>{{ total_in_system }}</dd>
</dl>

<h2>Report for this month</h2>
<dl>
	<dt>Total Membership Dues</dt>
	<dd>{{ total_month_dues }}</dd>
	<dt>Total Donations</dt>
	<dd>{{ total_month_donations }}</dd>
</dl>

<h2>Membership Data</h2>
<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Current</td>
		</tr>
	</thead>
	<tbody>
{% for maker in makers %}
		<tr>
			<td>{{ maker }}</td>
			<td>{% if maker.is_current %}Y {% else %}N {% endif %}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}
