{% extends "page.html" %}
{% block body_content %}
<div class="hero-unit hc_hero">
	<h1>HiCapacity Membership Area</h1>
</div>
<div class="row-fluid">
	<h2>News</h2>
	<p>New membership site!</p>
	<h2>How to login</h2>
	<p>If you have paid us through paypal, your username is the paypal email associated with your payments.  You don't know your password... Yet.</p>
	<h2>What's possible</h2>
	<ul>
		<li>Edit your profile data</li>
		<li>Check your membership status</li>
		<li>View your membership payment history</li>
		<li>View info for other makers</li>
	</ul>
</div>
{% endblock %}
{% block sidebar_content %}
	<li class="nav-header">Sidebar</li>
	<li class="active"><a href="#">Link</a></li>
	<li><a href="#">Link</a></li>
	<li><a href="#">Link</a></li>
	<li class="nav-header">Login</li>
	<li>{% include "partials/login.html" %}</li>
{% endblock sidebar_content %}
