{% extends "base.html" %}
{% load gravatar %}
{% block navigation %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}
{% block body_class %}profile{% endblock %}
{% block body %}
	<div id="body" class="row-fluid">
		<div id="info" class="span6">
			<div id="bcard">
				<div id="profile_photo">
					{% gravatar_img_for_user maker 120 %}
				</div>
				<h1><img src="http://hicapacity.org/img/hicap_logo_sm.png" alt="HiCapacity"></h1>
				<h1>{{ maker.username }}</h1>
				{% if 'location' in info %}
					<h2>{{ info.location }}</h2>
				{% endif %}
			</div>
			<div id="details">
				{% if 'bio' in info %}
				<p><b>{{ maker.get_full_name }}</b>: {{ info.bio }}
				{% endif %}
				</p>
				{% for link in links %}
				<p>
					<b>{{ link.label }}</b>: 
					<a href="{{ link.prefix }}{{ link.value }}">{{ link.prefix }}{{ link.value }}</a>
				</p>
				{% endfor %}
				{% if tags %}
					{% for tag in tags %}
						<p><b>{{ tag.label }}</b>:
						{% for value in tag.values %}
							{{ value }}
						{% endfor %}
						</p>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="span6">
			<h3>Stuff</h3>
			<h3>Stuff</h3>
			<h3>Stuff</h3>
			<h3>Stuff</h3>
			<h3>Stuff</h3>
			<h3>Stuff</h3>
			<h3>Stuff</h3>
			<h3>Stuff</h3>
			<h3>Stuff</h3>
			<h3>Stuff</h3>
			<h3>Stuff</h3>
		</div>
	</div>
{% endblock %}
