{% extends "page.html" %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="/static/css/tagify-style.css">
{% endblock %}
{% block extra_js %}
	<script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.tagify.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var $tags = $('.tagify');
			$tags.each(function(i, e){
				$tags.tagify();
				var $parent = $tags.parents('form');
				$parent.bind("submit", function(e){
					$tags.tagify('serialize');
				});
			});
		});
	</script>
{% endblock %}
{% block body_content %}
<h1>Your Profile</h1>
{% if maker.is_public == False %}
	<p class="alert">Your profile isn't public</p>
{% endif %}
<form action="" method="POST">
	{% csrf_token %}
	<div class="row-fluid">
		<div class="span6">
			<hr>
			<h2>Interests</h2>
			{{ tags_form.as_p }}
			<hr>
		</div>
		<div class="span6">
			<hr>
			<h2>Links</h2>
			{% for field in links_form %}
			<p>
				{{ field.help_text }}
				{{ field }}
			</p>
			{% endfor %}
			<hr>
		</div>
	</div>
	<div class="row-fluid">
		<input type="submit" value="Save">
	</div>
</form>
{% endblock body_content %}
{% block sidebar_content %}
	{% include "membership/sidebar.html" %}
{% endblock sidebar_content %}
