{% extends "page.html" %}
{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="/static/css/tagify-style.css">
{% endblock %}
{% block extra_js %}
	<script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.tagify.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.tagify').tagify({delimiters:[13, 188]});
		});
	</script>
{% endblock %}
{% block body_content %}
<h1>Your Profile</h1>
{% if maker.is_public == False %}
	<p class="alert">Your profile isn't public</p>
{% endif %}
{{ tags_form.as_p }}
{{ links_form.as_p }}
{% endblock body_content %}
{% block sidebar_content %}
	{% include "membership/sidebar.html" %}
{% endblock sidebar_content %}
