	<li class="nav-header">Account</li>
	<li>
		{% if here == 'login' %}
			Home
		{% else %}
			<a href="{% url maker_panel %}">Home</a>
		{% endif %}
	</li>
	<li>
		{% if here == 'info' %}
			Info	
		{% else %}
			<a href="{% url maker_info %}">Info</a>
		{% endif %}
	</li>
	<li>
		{% if here == 'billing' %}
			Billing History	
		{% else %}
			<a href="{% url maker_billing %}">Billing History</a>
		{% endif %}
	</li>
	<li class="nav-header">Community</li>
	<li>
		{% if here == 'community' %}
			Membership List
		{% else %}
			<a href="{% url maker_community %}">Membership List</a>
		{% endif %}
	</li>
	<li class="nav-header">Profile</li>
	<li>
		{% if here == 'profile' %}
			Edit Profile
		{% else %}
			<a href="{% url maker_profile %}">Edit Profile</a>
		{% endif %}
	</li>
