<h2>Membership Status</h2>
{% if maker %}
<dl class="hc_user_status">
	<dt>ID</dt>
		<dd>{{ maker.username }}</dd>
	<dt>Current Status</dt>
		{% if maker.is_current %}
			<dd class="hc_current"><i class="icon-ok"></i>Current</dd>
			<dd>Til {{ maker.last_cycle_end }}</dd>
		{% else %}
			<dd class="hc_not_current"><i class="icon-exclamation-sign"></i>Not Current</dd>
			{% if maker.last_cycle_end %}
			<dd>Ended {{ maker.last_cycle_end }}</dd>
			{% endif %}
		{% endif %}
</dl>
{% else %}
<p>No user status</p>
{% endif %}
